@charset "UTF-8";
/*VARIABLES FUENTES*/
/*STYLE HOME*/
header {
  background-color: #fff;
  height: 130px;
  width: 100%;
  position: fixed;
  z-index: 10000;
}
header nav {
  padding: 0 180px;
  position: relative;
  height: 100%;
}
header nav ul.nav_primary {
  align-items: center;
  justify-content: space-between;
  height: 100%;
}
header nav ul.nav_primary li {
  font-size: 22px;
  text-align: center;
  position: relative;
}
header nav ul.nav_primary li ::before {
  content: url("../img/home/hov_nav.png");
  width: 100%;
  height: 20px;
  display: block;
  position: absolute;
  bottom: -15px;
  transition: all 0.4s;
  transform: scaleX(0);
}
header nav ul.nav_primary li :hover::before {
  transform: scaleX(1);
}
header nav ul.nav_primary li:hover .hov_dropnav {
  display: block !important;
}
header nav ul.nav_primary .hov_dropnav {
  display: none;
  position: absolute;
  top: 40px;
  width: -moz-max-content;
  width: max-content;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  font-size: 20px;
  background-color: white;
  line-height: 55px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 15px;
}
header nav ul.nav_primary .hov_dropnav::before {
  content: none !important;
}
header nav ul.nav_primary .hov_dropnav :hover::before {
  transform: scaleX(0);
}
header nav ul.nav_primary .hov_dropnav li {
  height: 55px;
  padding: 0 15px;
  display: block;
  border-bottom: 1px solid;
  cursor: pointer;
}
header nav ul.nav_primary .hov_dropnav li :hover {
  color: #9460F9;
}
header nav .rr_ss {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
header nav .rr_ss ul li {
  width: 30px;
  margin-left: 10px;
}
header nav .rr_ss ul li img {
  width: 100%;
}

main {
  /*estilos de imagenes formulario*/
}
main #slider {
  height: 100vh;
  position: relative;
  overflow: hidden;
}
main #slider .mySwiper {
  position: relative;
  height: 100%;
}
main #slider .mySwiper .swiper-slide {
  position: relative;
  height: 100%;
  display: flex;
  align-items: center;
}
main #slider .mySwiper .swiper-slide .fondo_banner {
  width: 945px;
  position: absolute;
  z-index: -20;
}
main #slider .mySwiper .swiper-slide .container {
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  overflow: hidden;
}
main #slider .mySwiper .swiper-slide .container .title-banner {
  max-width: 660px;
}
main #slider .mySwiper .swiper-slide .container .title-banner h1 {
  line-height: 72px;
  margin-bottom: 26px;
}
main #slider .mySwiper .swiper-slide .container .title-banner p {
  max-width: 630px;
  margin-bottom: 30px;
  font-weight: 200;
}
main #slider .mySwiper .swiper-slide .container .title-banner .btn {
  background-color: #D6DDFA;
  height: 50px;
  width: 178px;
  display: inline-block;
  text-align: center;
  line-height: 50px;
  font-size: 22px;
  color: #132A4F;
  border-radius: 30px;
  margin-right: 30px;
}
main #slider .mySwiper .swiper-slide .container .title-banner .btn:hover {
  background-color: #9460F9;
  color: white;
  transition: all 0.5s;
}
main #slider .mySwiper .swiper-slide .container .img-banner .fondo_360 {
  width: 912px;
  bottom: 82px;
  position: absolute;
  right: -65px;
  z-index: 100;
  top: 197px;
  transform: scale(0.8);
  transition: all 1s;
}
main #slider .mySwiper .swiper-slide .container .img-banner .img_360 {
  width: 730px;
  position: absolute;
  top: 130px;
  right: 0;
  transform: rotate(-360deg);
  transition: all 0.8s;
}
main #slider .arrow_bot {
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 200;
}
main #about_us {
  position: relative;
  overflow: hidden;
  padding-top: 95px;
  height: 810px;
}
main #about_us #left {
  width: 365px;
  position: absolute;
  left: -50px;
  bottom: -50px;
}
main #about_us #right {
  width: 365px;
  position: absolute;
  right: -140px;
  top: -90px;
}
main #about_us .center-column {
  text-align: center;
  margin: 0 auto;
}
main #about_us .center-column p {
  max-width: 970px;
  margin: 0 auto;
  margin-top: 30px;
}
main #about_us .center-column .items_about {
  width: 1120px;
  margin: 0 auto;
  padding-top: 85px;
}
main #about_us .center-column .items_about ul {
  justify-content: space-between;
}
main #about_us .center-column .items_about ul li {
  width: 33%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #about_us .center-column .items_about ul li img {
  width: 100px;
}
main #about_us .center-column .items_about ul li h4 {
  font-size: 65px;
  font-weight: 900;
  font-family: "Myriad Pro Bold";
  margin-top: 25px;
}
main #services {
  height: 990px;
  padding-top: 160px;
  background-image: url(../img/home/fondo-section.png);
  background-color: #F4F4F4;
  background-size: cover;
  background-position: 0%;
}
main #services .container .title-banner {
  text-align: center;
}
main #services .container .title-banner h3 {
  margin-top: 20px;
  margin-bottom: 40px;
}
main #services .item_services {
  margin-top: 85px;
}
main #services .item_services ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 0 auto;
}
main #services .item_services ul li {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 320px;
  position: relative;
  height: 380px;
  border-radius: 10px;
  overflow: hidden;
}
main #services .item_services ul li:before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-color: #132A4F;
  position: absolute;
  top: 0;
  z-index: 10;
  opacity: 0.7;
  transition: all 0.3s;
}
main #services .item_services ul li:hover:before {
  transform: translateX(0);
}
main #services .item_services ul li img {
  width: 100%;
  position: relative;
  display: block;
  height: 100%;
}
main #services .item_services ul li .text_service {
  position: absolute;
  bottom: 0;
  padding: 35px 20px;
  z-index: 2000;
  color: #fff;
}
main #services .item_services ul li .text_service h4 {
  font-size: 29px;
  font-weight: 800;
  margin-bottom: 15px;
  font-family: "Myriad Pro Bold";
}
main #services .item_services ul li .text_service p {
  font-size: 22px;
  font-weight: 300;
}
main #services .item_services ul li .text_service a {
  width: 162px;
  background-color: #D6DDFA;
  font-size: 21px;
  height: 52px;
  display: block;
  text-align: center;
  line-height: 52px;
  border-radius: 26px;
  font-weight: 800;
  margin-top: 15px;
  color: #000;
}
main #services .item_services ul li .text_service a:hover {
  background-color: #955FFB;
  color: #fff;
}
main #customers {
  text-align: center;
  padding-top: 100px;
  height: 660px;
}
main #customers .container {
  overflow: hidden;
  height: 100%;
}
main #customers .swiper {
  overflow: visible;
}
main #customers .swiper-wrapper {
  padding-top: 120px;
  overflow: visible;
}
main #customers .swiper-wrapper .swiper-slide {
  width: 25%;
  height: 76px;
  display: flex;
  align-items: center;
  width: -moz-max-content;
  width: max-content;
  justify-content: center;
}
main #customers .swiper-horizontal > .swiper-pagination-bullets, main #customers .swiper-pagination-bullets.swiper-pagination-horizontal {
  bottom: -120px;
  top: unset;
  left: 0;
  width: 100%;
}
main #customers .swiper-pagination-bullet {
  background-image: url(../img/home/bullet_active.png);
  width: 30px;
  height: 35px;
  background-color: transparent;
  background-size: contain;
  background-repeat: no-repeat;
}
main #customers .swiper-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet, main #customers .swiper-pagination-horizontal.swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 40px;
}
main #contact-us {
  background-color: #f7f7f7;
  padding: 45px 0;
  position: relative;
}
main #contact-us .container {
  position: relative;
}
main #contact-us h3 {
  font-size: 50px;
  margin-bottom: 50px;
}
main #contact-us img {
  position: absolute;
  top: 0;
}
main #contact-us img.fondo_girl {
  width: auto;
  right: -80px;
  top: 192px;
}
main #contact-us img.fondo_360 {
  width: 663px;
  right: -80px;
  top: 144px;
}
main #contact-us form .form-group {
  font-family: "Archivo Thin";
  font-size: 18px;
  max-width: 305px;
}
main #contact-us form .form-group input {
  border: none;
  border-bottom: 1px solid #B1B1B1;
  width: 305px;
  margin-bottom: 30px;
  margin-top: 35px;
  height: 53px;
}
main #contact-us form .full-width {
  width: 100%;
  position: relative;
}
main #contact-us form .full-width label.services_form {
  font-family: "Myriad Pro";
  margin-bottom: 25px;
}
main #contact-us form .full-width .select_services {
  position: relative;
}
main #contact-us form .full-width .select_services::before {
  content: "";
  width: 12px;
  height: 12px;
  background: #fff;
  display: block;
  position: absolute;
  z-index: 100;
  right: 30px;
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
  border-right: 2px solid black;
  border-bottom: 2px solid black;
}
main #contact-us form .full-width select {
  width: 295px;
  height: 53px;
  text-align: center;
  border-radius: 15px;
  font-size: 18px;
  border-color: #B1B1B1;
  position: relative;
}
main .contact-form-container {
  background-color: #ffffff;
  border-radius: 20px;
  width: 895px;
  padding: 60px 90px;
  max-width: 90%;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
}
main .contact-form-container h2 {
  font-size: 2.5em;
  color: #1e2d3b;
  margin-bottom: 30px;
  text-align: left;
}
main .form-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
main textarea {
  width: 700px;
  border: none;
  border-bottom: 1px solid #B1B1B1;
}
main label {
  display: block;
  font-size: 1em;
  margin-bottom: 5px;
  color: #1e2d3b;
  margin-top: 10px;
}
main .button_form {
  display: flex;
  justify-content: end;
}
main .button_form .submit-button {
  display: block;
  width: 238px;
  height: 70px;
  background-color: #8b50f9;
  color: #ffffff;
  font-size: 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  text-align: center;
  justify-self: end;
  font-family: "Myriad Pro Bold";
  margin-top: 20px;
}
main .submit-button:hover {
  background-color: #6a3ecb;
}
main .arrow_select {
  position: absolute;
  bottom: 0;
}

main#page-events section#events {
  height: auto;
  padding-top: 160px;
  background-color: #F4F4F4;
  background-size: cover;
  background-position: 0%;
  padding-bottom: 60px;
  box-sizing: border-box;
}
main#page-events section#events .container .title-banner {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 80px;
}
main#page-events section#events .container .title-banner h3 {
  margin-top: 20px;
  margin-bottom: 40px;
}
main#page-events section#events .container .title-banner p {
  max-width: 800px;
  line-height: 30px;
}
main#page-events section#events .container {
  display: flex;
  max-width: 1400px;
  margin: 0 auto;
  gap: 20px;
}
main#page-events section#events .main-event {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 611px;
  margin: 0 10px;
}
main#page-events section#events .main-event p {
  font-size: 20px;
  line-height: 30px;
}
main#page-events section#events .main-event-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
main#page-events section#events .search-bar {
  padding: 10px;
  width: 80%;
  border: none;
  border-radius: 30px;
  font-size: 16px;
}
main#page-events section#events .event-details {
  margin-top: 20px;
}
main#page-events section#events .event-date {
  color: #718096;
  font-size: 14px;
  margin-bottom: 5px;
}
main#page-events section#events .event-title {
  font-size: 22px;
  color: #2e3a59;
  margin: 5px 0;
}
main#page-events section#events .search_fondo {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 50%;
  z-index: 100;
}
main#page-events section#events .search-overlay {
  position: relative;
}
main#page-events section#events .btn-leer-mas {
  display: inline-block;
  margin-top: 40px;
  color: #132A4F;
  border: none;
  border-radius: 30px;
  font-size: 20px;
  cursor: pointer;
  font-weight: 600;
  background-color: transparent;
  border: 1px solid #1e2d3b;
  vertical-align: sub;
  width: 147px;
  height: 50px;
  line-height: 50px;
}
main#page-events section#events .side-events {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 615px;
}
main#page-events section#events .side-events img {
  width: 243px;
  height: auto;
}
main#page-events section#events .side-event {
  display: flex;
  border-radius: 10px;
  overflow: hidden;
}
main#page-events section#events .side-event-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin-right: 10px;
  margin-right: 25px;
}
main#page-events section#events .side-event-details {
  flex: 1;
}
main#page-events section#events .side-event-details .event-title {
  font-size: 18px;
  color: #2e3a59;
  margin: 5px 0;
}
main#page-events section#events .side-event-details .event-description {
  font-size: 17px;
  color: #4a5568;
  max-width: 230px;
  line-height: 30px;
}

main.single-event .main-event {
  width: 100% !important;
  display: flex;
  justify-content: space-between;
}
main.single-event .main-event .search-overlay {
  order: 2;
  width: 650px;
}
main.single-event .main-event .event-details {
  width: 570px;
}
main.single-event .main-event .event-details h2 {
  font-size: 35px !important;
}
main.single-event .main-event .event-details p {
  text-align: justify;
  font-size: 20px o !important;
}
main.single-event .side-events {
  flex-direction: row !important;
  justify-content: space-between;
  max-width: 100% !important;
  margin: 100px 0;
}
main.single-event .side-events a {
  display: block;
}
main.single-event .side-events img {
  width: auto;
  height: unset;
}

main#services {
  padding-top: 130px;
}
main#services .service {
  height: 580px;
}
main#services .service .order {
  order: 2;
}
main#services .service:nth-child(2n+1) {
  background-color: #F3F3F3;
}
main#services .service .container {
  height: 100%;
}
main#services .service .container div {
  width: 50%;
}
main#services .service .service-img {
  display: flex;
  align-items: center;
}
main#services .service .service-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
main#services .service .service-description h2 {
  display: flex;
  display: block;
  margin-left: 15px;
  position: relative;
  margin-bottom: 30px;
}
main#services .service .service-description h2::before {
  content: "|";
  display: block;
  position: absolute;
  left: -15px;
  bottom: 20px;
}
main#services .service .service-description p {
  line-height: 30px;
}
main#services .service .service-description ul {
  display: flex;
  width: 65%;
  flex-wrap: wrap;
  justify-content: center;
  flex-direction: column;
  margin-top: 30px;
  max-height: 130px;
}
main#services .service .service-description ul li {
  display: flex;
  margin-bottom: 8px;
  font-size: 20px;
}
main#services .service .service-description ul li::before {
  content: "";
  width: 18px;
  height: 18px;
  display: block;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-image: url(../img/home/list_icon.png);
}
main#services .service .service-description a {
  display: block;
  position: absolute;
  right: 0;
  font-weight: 800;
  font-family: "Myriad Pro Bold";
  border: 1px solid #1e2d3b;
  padding: 10px 15px;
  border-radius: 20px;
  bottom: 70px;
}

main#page-proyects {
  padding-top: 130px;
  text-align: center;
  background-color: #F4F4F4;
  background-image: url(../img/home/fondo-section.png);
  background-color: #F4F4F4;
  background-size: cover;
  background-position: 0%;
}
main#page-proyects section#proyects h2 {
  padding-top: 70px;
}
main#page-proyects section#proyects h3 {
  padding-top: 10px;
}
main#page-proyects section#proyects p {
  margin-top: 15px;
  width: 640px;
  margin: 20px auto;
}

#about {
  padding-top: 130px;
  justify-content: space-between;
}
#about div {
  width: 50%;
}
#about div.about_description {
  margin-left: 260px;
  width: 602px;
}
#about div.about_description h2 {
  margin: 20px 0;
}
#about div.about_description p {
  line-height: 35px;
}
#about div.about_description h4 {
  font-family: "Myriad Pro";
  font-weight: 800;
  font-size: 25px;
  margin-top: 25px;
}

/* Estilos para el contenedor de tabs */
.tab-container {
  display: flex;
  cursor: pointer;
  justify-content: center;
  margin-bottom: 35px;
}
.tab-container .tab {
  text-align: center;
  font-family: "Archivo Thin";
  padding: 5px 5px;
  margin: 0 15px;
}
.tab-container .tab.active {
  font-weight: bold;
  background-color: #DBDBDB;
  display: flex;
  border-radius: 8px;
}
.tab-container .tab.active:before {
  content: "";
  background-image: url(../img/home/icon_proyect.png);
  display: block;
  background-size: contain;
  width: 15px;
  height: 15px;
  background-repeat: no-repeat;
  margin-right: 10px;
}

/* Estilos para las galerías */
.gallery {
  display: none;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 10px;
}

.gallery.active {
  display: grid;
}

.gallery img {
  width: 382px;
  height: auto;
  margin-bottom: 50px;
}

/*FOOTER*/
.container .footers {
  display: flex;
  justify-content: space-between;
  position: relative;
  line-height: 35px;
  margin-bottom: 100px;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
  padding-top: 50px;
}
.container .footers h2 {
  font-family: "Myriad Pro Bold";
  color: #9460F9;
}
.container .imgs {
  position: absolute;
  width: 1100px;
  height: 465px;
  right: 0;
}
.container .fb {
  display: flex;
  font-size: 2.5em;
}
.container img.logo_footer {
  margin-bottom: 15px;
}
.container .footer-columnn {
  margin-top: 20px;
}
.container .fa-facebook:before, .container .fa-square-instagram:before {
  color: #172D52;
  margin-right: 15px;
}
.container footer div ul li a i {
  padding: 20px 15px 0 0;
  color: rgb(5, 5, 68);
}
.container .fa-mobile-screen-button {
  margin-right: 15px;
  color: rgb(5, 5, 68);
}
.container .fa-phone {
  margin-right: 15px;
  color: rgb(5, 5, 68);
}
.container .fa-envelope {
  margin-right: 15px;
  color: rgb(5, 5, 68);
}
.container .fa-map-marker-alt {
  margin-right: 15px;
  color: rgb(5, 5, 68);
}
.container .fa-clock {
  margin-right: 15px;
  color: rgb(5, 5, 68);
}
.container .inf {
  margin-bottom: 30px;
  color: #9c88ff;
  display: inline-block;
}
.container .cuadro {
  display: flex;
  line-height: normal;
  margin-top: 8px;
}
.container .calendar {
  margin-right: 15px;
  width: 14%;
  height: 27px;
}
.container .whatsapp_chat {
  position: fixed;
  right: 200px;
  bottom: 130px;
}

.copyright {
  text-align: center;
  padding: 1rem;
  background-color: #9c88ff;
  font-family: "Archivo";
  z-index: 100000;
  position: absolute;
  width: 100%;
}/*# sourceMappingURL=style.css.map */